.cart-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-for-mobile {
  display: none;
}

.cart-list-box-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 300px);
  overflow: scroll;
}

.cart-list-box {
  width: 1000px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding-bottom: 2rem;
  padding: 2rem;
}

@media (max-width: 425px) {
  .title-for-desktop {
    display: none;
  }

  .title-for-mobile {
    display: block;
    text-align: center;
  }

  .cart-list-box-container {
    height: 100%;
    padding: 0 1rem;
  }

  .cart-list-box {
    width: 100%;
    height: calc(100% - 120px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-list-box > ul {
    /* background-color: pink; */
    height: 90%;
    overflow: scroll;
  }
}

.cart-list-box > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d8d8d8;
}

.product-details-cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-details-cart-item > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}

.total-price-with-checkout-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.checkout-btn {
  background: transparent;
  border: 0;
  background-color: green;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
}

.empty-cart-view {
  height: calc(100vh - 300px);
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-successful-dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-successful-dialog-box > img {
  border: 2px solid green;
  padding: 14px 10px;
  border-radius: 50%;
}

.return-to-homepage-btn {
  padding: 10px 20px;
  width: auto;
  height: auto;
}
